body
{
    font-family: 'Zilla Slab', serif;
    background-color:  rgb(190, 143, 71);
}

.barra-navegacao
{
    background-color: rgb(129, 95, 45);
    color: white;
}

.logo-marca{
    font-size: 26px;
}

.header1
{
    margin-top: 12vh;
}

.titlePagina
{
    color:  rgb(94, 69, 33);
    font-size: 8vw;
    text-align: center;
}

.destaqueTitulo
{
    color:  rgb(65, 48, 22);
}

.linksMargin
{ 
    margin-top: 10vh;
}

.linksProperty
{
    font-size: 1.8vw;
    text-decoration: underline;
    color:  rgb(94, 69, 33);
}

.nav-arrow{
    position: fixed;
    right: 10px;
    bottom: 15px;
    z-index: 1;
}

.nav-arrow a{
    color: #b9ff38;
    font-size: 2em;
}

.subTitulo
{
    font-family: 'Zilla Slab', serif;
    color:  rgb(94, 69, 33);
    font-size: 5vw;
    text-align: center;
}

.imagensPag
{
    border-width: 13px;
    border-style: dashed;
    border-color:  rgb(121, 87, 41);
}

.textoPagina
{
    font-family: 'Zilla Slab', serif;
    color:  rgb(94, 69, 33);
    font-size: 1.7vw;
    text-align: center;
}

.divisoria
{
    border-width: thick;
    border-color:  rgb(121, 87, 41);
    border-style: dashed;
}

footer{
    background-color:rgb(85, 62, 29);
}

footer h5{
   padding-top: 10px; 
   margin-bottom: 5vh;
   color: rgb(137, 199, 23);
}

.redes-sociais{
    font-size: 1em;
}

.redes-sociais i{
    font-size: 2.5em;
}

@media (max-width: 480px){
    .redes-sociais i{
        font-size: 1.5em;
    }
}

.redes-sociais a{
    color: rgb(137, 199, 23);
}

.email{
    margin-top: 10px;
    padding-bottom: 20px;
}

.email a{
    color: white;
}

.email i{
    position: relative;
    top: 4px;
    right: 6px;
    font-size: 1.3em;
}

.solid 
{
    border-top: 2px solid rgb(192, 15, 15);
}

html 
{
    scroll-behavior: smooth;
}